@{
    ViewData["Title"] = "Home Page";
}

<li><a asp-area="" asp-controller="Plan" asp-action="Index">Plan</a></li>
<li><a asp-area="" asp-controller="Missions" asp-action="Index">Missions</a></li>
<li><a asp-area="" asp-controller="Rewards" asp-action="Index">Rewards</a></li>
<li><a asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a></li>
<li><a asp-area="" asp-controller="SkillDetails" asp-action="Index">Skills</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li><a asp-area="" asp-controller="Profiles" asp-action="Index">Profile</a></li>